<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fearlessbear.uiexperimentproject">

    <application
        android:name="._base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".animation.object.TranslationAnimationActivity"></activity>
        <activity android:name=".draw.PorterDuffActivity" />
        <activity android:name=".motionEventDispatch.TouchTarget1Activity" />
        <activity android:name=".motionEventDispatch.MotionEventDispatchListActivity" />
        <activity android:name=".DisplayActivity" />
        <activity android:name=".draw.DrawOutsideViewActivity" />
        <activity android:name=".window.DialogWindowRelationship" />
        <activity android:name=".window.WindowListActivity" />
        <activity android:name="._base.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".recyclerView.RecyclerActivity" />
        <activity android:name=".recyclerView.GridLayoutItemNumActivity" />
        <activity android:name=".recyclerView.ExpandedFollowAnimActivity" />
        <activity android:name=".recyclerView.ExpandedFollowAnimImplActivity" />
        <activity android:name=".textview.InputTypeActivity" />
        <activity android:name=".draw.DrawListActivity" />
        <activity android:name=".draw.CanvasClipActivity" />
        <activity android:name=".animation.AnimationListActivity" />
        <activity android:name=".animation.tween.TranslateAnimActivity" />
        <activity android:name=".webview.WebViewActivity" />
        <activity android:name=".webview.WebViewScrollListenerActivity" />
    </application>

</manifest>